---
layout: default
---

<header id="about-me">
	<div class="card">
		<h2 class="name">{{ site.data.profile.name }}</h2>
		<div class="motto">{{ site.data.profile.motto }}</div>
		<div class="avatar"></div>
		<p class="bio">{{ site.data.profile.bio }}</p>
	</div>
	<nav>
		<a href="#about-me" class="subNavBtn active">About me</a>
		<a href="#stuff-i-do" class="subNavBtn">Stuff</a>
		<a href="#contacts" class="subNavBtn">Contacts</a>
		<!-- <a href="#other" class="subNavBtn">OJ</a> -->
	</nav>
</header>

<section id="stuff-i-do">
	<h3>Papers</h3>
	{% assign papers = site.papers | stuff_sort | reverse %}
	<dl class="accordion">
		{% for thing in papers %}
		<dt id="{{ thing.slug }}">
			<a href="#{{ thing.slug }}">{{ thing.title }}</a>
			<time>
				{% assign dateFromYear = thing.datefrom | date: '%Y' %} {% assign dateToYear = thing.dateto | date: '%Y'
				%} {% assign dateFromMonth = thing.datefrom | date: '%m' %} {% assign dateToMonth = thing.dateto | date:
				'%m' %} {% if dateFromYear == dateToYear %} {% if dateFromMonth != dateToMonth %}
				{{ thing.datefrom | date: '%b' }} - {% endif %}
				{{ thing.dateto | date: '%b %Y' }}
				{% else %}
				{{ thing.datefrom | date: '%b %Y' }}
				– {{ thing.dateto | date: '%b %Y' }}
				{% endif %}
			</time>
		</dt>
		<dd>{{ thing.content }}</dd>
		{% endfor %}
	</dl>
</section>

<section id="contacts">
	<h2>Contacts</h2>
	<h5>Davide di Micco</h5>
	<p>
		Via Saldini 50<br />
		Milano IT<br />
	</p>
	<p>
		mail: <a href="mailto:davide.dimicco@unimi.it">[name].[surname]@unimi.it</a><br />
		mail: <a href="mailto:davidedimicco1992@gmail.com">davidedimicco1992@gmail.com</a><br />
		github: davidedimicco<br />
	</p>
</section>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
